<!-- wp:html -->
<div class="wp-block-buttons is-content-justification-center content[button-number] button-container">
<div class="wp-block-button has-custom-width wp-block-button__width-100 btn-lg">
<a class="wp-block-button__link" href="[aff-link]" style="border-radius:5px; color:[button-text-color]; background-color:[button-bg-color]; padding: 12px 24px; text-decoration: none; display: inline-block; font-weight: bold;" target="_blank" rel="noreferrer noopener">[button-text]</a>
</div>
</div>
<!-- /wp:html -->
